[submodule "src/ld06"]
	path = src/ld06
	url = git@github.com:N-rwal/ld06.git
[submodule "src/rf2o_laser_odometry"]
	path = src/rf2o_laser_odometry
	url = git@github.com:N-rwal/rf2o_laser_odometry.git
